<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/styles/create.css" rel="stylesheet" type="text/css">
    <title>GUI - Create</title>
</head>
<body class="bodyConfig">
    <h1>Crear Registro en tablas</h1>
    <select id="desplegable">
        <option>Seleccione una tabla</option>
        <option value="cliente">Cliente</option>
        <option value="restaurante">Restaurante</option>
        <option value="factura">Factura</option>
        <option value="DF">Detalle Factura</option>
        <option value="producto">Producto</option>
        <option value="proveedor">Proveedor</option>
        <option value="inventario">Inventario</option>
    </select>
    <div id="infoRellenar" class="upperDiv"></div>
    
    <script src="../static/scripts/create.js"></script>
</body>
</html>
