<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./static/styles/index.css" rel="stylesheet" type="text/css">
    <script src="./static/scripts/index.js"></script>
    <title>GUI - CRUD</title>
</head>
<body class="bodyConfig">
    <div class="info">
        <h1>
            GUI - Entrega 1 - Bases de datos
        </h1>
        <div class="selectButtons">
            <button onclick="redirectCreate()">CREATE</button>
            <button onclick="redirectRetrieve()">RETRIEVE</button>
            <button onclick="redirectUpdate()">UPDATE</button>
            <button onclick="redirectDelete()">DELETE</button>
        </div>
    </div>
</body>
</html>
