.bodyConfig{
    background: linear-gradient(#6C757D, #F8F9FA);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.retrievedData{
    width: 80%;
    height: 750px;
    margin-top: 30px;
    background-color: rgba(73, 80, 87, .8);
    color: white;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 50px auto;
    border-radius: 15px;
}

.table{
    height: 80%;
    background-color: #ADB5BD;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 15px;
    align-items: center;
    color: black;
}

.table table{
    width: 80%;
    height: 30%;
    text-align: center;
    margin: 200px 10% 0px 10%;
    background-color: #ADB5BD;
}

.table input[type="submit"]{
    background-color: white;
    width: 105px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
    padding: 20px 5px
}

.keyColumn{
    font-style: oblique;
    font-size: large;
}